.App {
  text-align: center;
}
.App-header {
  background-color: #d0d8dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.grid{
  position: relative;
  width: 630px;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  z-index: 9;
  fill: black; 
  overflow: hidden; 
}
.grid.win_h1::after,.grid.win_h2::after,.grid.win_h3::after,
.grid.win_v1::after,.grid.win_v2::after,.grid.win_v3::after,
.grid.win_d1::after,.grid.win_d2::after,.grid.draw::after{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 630px;
  height: 630px;
  content: '';
  background-image: url('i.svg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
}
.grid.win_h1::after{
  background-position: 0 -200px;
}
.grid.win_h3::after{
  background-position: 0 200px;
}
.grid.win_v1::after,.grid.win_v2::after,.grid.win_v3::after{
  transform: rotate(-90deg);
}
.grid.win_v1::after{
  background-position: 0 -200px;
}
.grid.win_v3::after{
  background-position: 0 200px;
}
.grid.win_d1::after{
  transform: rotate(45deg);
}
.grid.win_d2::after{
  transform: rotate(-45deg);
}
.grid.draw::after{
  transform: rotate(-45deg);
}
.grid.draw::before{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 630px;
  height: 630px;
  content: '';
  background-image: url('i.svg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  transform: rotate(45deg);
}
.row{
  width: 100%;
  float: left;
}
.cell{
  border: 5px solid black;
  width: 200px;
  height: 200px;
  float: left;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;  
}
.row:nth-child(1) .cell{
  border-top: none;
}
.row:nth-child(3) .cell{
  border-bottom: none;
}
.row .cell:nth-child(1){
  border-left: none;
}
.row .cell:nth-child(3){
  border-right: none;
}
.cell.cell-x{
  background-image: url('x.svg');
}
.cell.cell-o{
  background-image: url('o.svg');
}
.error-box{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.error-box.error{
  transition: all 0.2s;
  opacity: 1;
  background-color:  rgba(255, 0, 0, 255);
}
.error-box.no-error{
  transition: all 1s;
  opacity: 0;  
  background-color: rgba(0, 0, 0, 0);
}
.aside {
  position: absolute;
}
.aside-right{
  right: 5%;
}