.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d0d8dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grid{
  width: 650px;
}
.row{
  width: 100%;
  float: left;
}
.cell{
  border: 5px solid black;
  width: 200px;
  height: 200px;
  float: left;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;  
}
.row:nth-child(1) .cell{
  border-top: none;
}
.row:nth-child(3) .cell{
  border-bottom: none;
}
.row .cell:nth-child(1){
  border-left: none;
}
.row .cell:nth-child(3){
  border-right: none;
}
.cell.cell-x{
  background-image: url('x.svg');
}
.cell.cell-o{
  background-image: url('o.svg');
}
.error-box{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.error-box.error{
  transition: all 0.2s;
  opacity: 1;
  background-color:  rgba(255, 0, 0, 255);
}
.error-box.no-error{
  transition: all 1s;
  opacity: 0;  
  background-color: rgba(0, 0, 0, 0);
}
